In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as st
import math
import pandas as pd
import statsmodels.stats.api as sm

/home/zeus/miniconda3/envs/cloudspace/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
%pwd
# %cd ..

'/teamspace/studios/this_studio/DataScience/Statistics with Python/Inferential Statistics'

In [3]:
df = pd.read_csv("../../Z_Resources/Statistics with Python/Inferential Statistics/Confidence Intervals/pizza_restaurant.csv")
df.head()

,Product Name,Crust,Toppings,Price,Delivery Time,# pizzas the customer ordered before
0,Pepperoni,Cheese_and_Garlic,4,17,26.3,4
1,Hawaiian,Cheese_and_Chili,4,17,27.8,4
2,Calzone,Cheese_and_Garlic,3,20,31.5,7
3,Margherita,Cheese,4,23,20.8,7
4,Calzone,Cheese_and_Garlic,4,19,27.7,8

In [4]:
df.describe()

,Toppings,Price,Delivery Time,# pizzas the customer ordered before
count,1000.000000,1000.000000,1000.000000,1000.000000
mean,3.965000,19.342000,25.061100,5.659000
std,1.021185,3.345479,2.490397,2.459831
min,1.000000,12.000000,17.800000,0.000000
25%,3.000000,17.000000,23.300000,4.000000
50%,4.000000,19.000000,25.100000,5.000000
75%,5.000000,21.000000,26.700000,7.000000
max,7.000000,33.000000,32.400000,15.000000

## Standard Error of Sample mean

In [5]:
# SE for Price
se = df.Price.std()/math.sqrt(df.Price.count())
se, st.sem(df.Price)

(0.105793327900337, 0.105793327900337)

## Standaization and Z-scores 
- Used to standardize the values to mean 0 and sd 1

In [6]:
df["Delivery Time Standardaized"] = (df["Delivery Time"] - df["Delivery Time"].mean())/df["Delivery Time"].std()

In [7]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()  # Correct typo: scalar -> scaler
df["Delivery Time Standardized2"] = scaler.fit_transform(df["Delivery Time"].values.reshape(-1, 1))
df.head()

,Product Name,Crust,Toppings,Price,Delivery Time,# pizzas the customer ordered before,Delivery Time Standardaized,Delivery Time Standardized2
0,Pepperoni,Cheese_and_Garlic,4,17,26.3,4,0.497471,0.497720
1,Hawaiian,Cheese_and_Chili,4,17,27.8,4,1.099784,1.100335
2,Calzone,Cheese_and_Garlic,3,20,31.5,7,2.585491,2.586785
3,Margherita,Cheese,4,23,20.8,7,-1.711012,-1.711868
4,Calzone,Cheese_and_Garlic,4,19,27.7,8,1.059630,1.060160

In [8]:
df.describe()

,Toppings,Price,Delivery Time,# pizzas the customer ordered before,Delivery Time Standardaized,Delivery Time Standardized2
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1.000000e+03
mean,3.965000,19.342000,25.061100,5.659000,1.385558e-16,1.421085e-16
std,1.021185,3.345479,2.490397,2.459831,1.000000e+00,1.000500e+00
min,1.000000,12.000000,17.800000,0.000000,-2.915639e+00,-2.917098e+00
25%,3.000000,17.000000,23.300000,4.000000,-7.071562e-01,-7.075101e-01
50%,4.000000,19.000000,25.100000,5.000000,1.562000e-02,1.562781e-02
75%,5.000000,21.000000,26.700000,7.000000,6.580878e-01,6.584171e-01
max,7.000000,33.000000,32.400000,15.000000,2.946879e+00,2.948354e+00

## Confidence Level

In [9]:
cl = [0.005, 0.025, 0.05, 0.95, 0.975, 0.995]
for alpha in cl:
    print(f"The normal Distribution value for {alpha} is {round(st.norm.ppf(alpha),2)}")

The normal Distribution value for 0.005 is -2.58
The normal Distribution value for 0.025 is -1.96
The normal Distribution value for 0.05 is -1.64
The normal Distribution value for 0.95 is 1.64
The normal Distribution value for 0.975 is 1.96
The normal Distribution value for 0.995 is 2.58

In [10]:
# for large Samples
mean = df.Price.mean()
c_i = st.norm.interval(alpha = 0.95, loc = mean,scale = st.sem(df.Price))
c_i

(19.134648887510703, 19.549351112489294)

In [11]:
st.sem(df.Price)

0.105793327900337

In [12]:
df.describe().columns

Index(['Toppings', 'Price', 'Delivery Time',
       '# pizzas the customer ordered before', 'Delivery Time Standardaized',
       'Delivery Time Standardized2'],
      dtype='object')

In [13]:
for name in df.describe().columns:
    c_i = [round(i,2) for i in st.norm.interval(alpha = 0.95, loc = df[name].mean(),scale = st.sem(df[name]))]
    print(f"Confidence Interval of {name} is {c_i}")

Confidence Interval of Toppings is [3.9, 4.03]
Confidence Interval of Price is [19.13, 19.55]
Confidence Interval of Delivery Time is [24.91, 25.22]
Confidence Interval of # pizzas the customer ordered before is [5.51, 5.81]
Confidence Interval of Delivery Time Standardaized is [-0.06, 0.06]
Confidence Interval of Delivery Time Standardized2 is [-0.06, 0.06]

In [14]:
sample = df.sample(20)
c_i = st.t.interval(alpha=0.95, df = len(sample)-1, loc = sample["Price"].mean(), scale = st.sem(sample["Price"]))
c_i

(16.677819861539852, 20.02218013846015)

In [15]:
for name in df.describe().columns:
    c_i = [round(i,2) for i in st.t.interval(alpha = 0.95,df = len(sample)-1, loc = sample[name].mean(),scale = st.sem(sample[name]))]
    print(f"Confidence Interval of {name} is {c_i}")

Confidence Interval of Toppings is [3.32, 4.18]
Confidence Interval of Price is [16.68, 20.02]
Confidence Interval of Delivery Time is [23.95, 26.04]
Confidence Interval of # pizzas the customer ordered before is [4.22, 5.98]
Confidence Interval of Delivery Time Standardaized is [-0.45, 0.39]
Confidence Interval of Delivery Time Standardized2 is [-0.45, 0.39]